html,
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: var(--bg);
}
a {
  text-decoration: none;
}

:root {
  --secondary: rgb(0, 57, 105);
  --primary: rgb(188, 24, 35);
  --bg: rgb(239, 239, 239);
}
.button {
  border: none;
  background: var(--primary);
  padding: 1rem 2rem;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}
.button:hover {
  background: transparent;
  transition: 0.1s;
  border: 2px solid var(--primary);
  color: var(--primary);
}
.button:hover a {
  color: var(--primary);
}
